In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import io
import zipfile

### Problem 1
In Lecture 1, we showed a plot that provided evidence that the 2002 and 2003 Oakland A's, a team that used data science, had a competitive advantage. Since, others teams have started using data science as well. Use exploratory data analysis to determine if the competitive advantage has since disappeared.

#### Problem 1(a)
Load in these CSV files from the Sean Lahman's Baseball Database. For this assignment, we will use the 'Salaries.csv' and 'Teams.csv' tables. Read these tables into a pandas DataFrame and show the head of each table.

Hint Use the requests, StringIO and zipfile modules to get from the web.

In [10]:
url='http://seanlahman.com/files/database/lahman-csv_2014-02-14.zip'
g = requests.get(url).content
s = io.BytesIO(g)
z = zipfile.ZipFile(s,'r')

In [11]:
print(z.namelist())

['SchoolsPlayers.csv', 'SeriesPost.csv', 'Teams.csv', 'TeamsFranchises.csv', 'TeamsHalf.csv', 'AllstarFull.csv', 'Appearances.csv', 'AwardsManagers.csv', 'AwardsPlayers.csv', 'AwardsShareManagers.csv', 'AwardsSharePlayers.csv', 'Batting.csv', 'BattingPost.csv', 'Fielding.csv', 'FieldingOF.csv', 'FieldingPost.csv', 'HallOfFame.csv', 'Managers.csv', 'ManagersHalf.csv', 'Master.csv', 'Pitching.csv', 'PitchingPost.csv', 'readme2013.txt', 'Salaries.csv', 'Schools.csv']

In [18]:
z.printdir()

File Name                                             Modified             Size
SchoolsPlayers.csv                             2013-12-04 14:15:40       180758
SeriesPost.csv                                 2013-12-05 22:30:18         8883
Teams.csv                                      2014-01-27 22:59:04       537313
TeamsFranchises.csv                            2013-12-04 14:15:40         3359
TeamsHalf.csv                                  2013-12-04 14:15:40         1609
AllstarFull.csv                                2013-12-05 22:36:24       201742
Appearances.csv                                2013-12-06 17:04:36      5816593
AwardsManagers.csv                             2014-01-31 09:57:46         7736
AwardsPlayers.csv                              2013-12-06 17:54:22       242812
AwardsShareManagers.csv                        2014-02-10 22:43:04        16878
AwardsSharePlayers.csv                         2013-12-04 14:15:38       222952
Batting.csv                                    2013-12-06 17:10:32      6575933
BattingPost.csv                                2014-01-27 22:51:52       667200
Fielding.csv                                   2014-01-27 23:14:04      8277996
FieldingOF.csv                                 2013-12-04 14:15:40       298470
FieldingPost.csv                               2013-12-06 17:29:32       592854
HallOfFame.csv                                 2014-01-31 09:58:22       173639
Managers.csv                                   2014-01-31 09:58:30       128621
ManagersHalf.csv                               2014-01-31 09:59:00         3568
Master.csv                                     2014-03-17 21:06:46      2422909
Pitching.csv                                   2014-02-11 10:26:06      3668051
PitchingPost.csv                               2014-02-10 22:23:06       395011
readme2013.txt                                 2014-03-17 21:07:38        30296
Salaries.csv                                   2013-12-06 19:14:18       724954
Schools.csv                                    2013-12-04 14:15:40        42933

In [14]:
tables = z.namelist()

In [17]:
salary = pd.read_csv(z.open(tables[tables.index('Salaries.csv')]))
team = pd.read_csv(z.open(tables[tables.index('Teams.csv')]))

In [19]:
salary.head()

   yearID teamID lgID   playerID   salary
0    1985    BAL   AL  murraed02  1472819
1    1985    BAL   AL   lynnfr01  1090000
2    1985    BAL   AL  ripkeca01   800000
3    1985    BAL   AL   lacyle01   725000
4    1985    BAL   AL  flanami01   641667

In [22]:
team = team[['yearID','teamID','W']]
team.head()

   yearID teamID   W
0    1871    PH1  21
1    1871    CH1  19
2    1871    BS1  20
3    1871    WS3  15
4    1871    NY2  16